<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/img/weather_favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500&display=swap"
        rel="stylesheet">
    <title>Help</title>

</head>

<body>
    <div class="main-content">

        {{>header}}
        <p class="content">This App will help you to find the temprature and forecast of the location which you
            will provide. Components used to make this app are Nodejs, Express, javaScript, css3, Html5</p>
        <p class="cta">If you find any difficulty let me know...😊</p>


    </div>

    {{>footer}}

    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>

</html>